# C++
*.o
*.obj
*.out
*.exe

# CMake
build*/
bin/
lib/

# clangd
.clangd/
.clangd
.cache/
*.idx
.cache/
.clang-format

# vs compile commands json
compile_commands.json
.vscode/
!.vscode/settings.json
!.vscode/launch.json
